@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800);

/* ==========================================================================
   Home
   ========================================================================== */
.home{
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	margin-top: 22em;
}
#name-home{
	font-size: 60px;
	font-weight: 800;
}
#name{
	font-weight: 400;
	color: #808080;
}
.social-icons li, i{
	list-style-type: none;
	display: inline;
	color: #808080;
	font-size: 1.7em;
	padding: 0 1px 0 1px;
}

/* ==========================================================================
   About Me
   ========================================================================== */
.about-me{
	font-family: 'Open Sans', sans-serif;
}
#profile{
	background-image: url('../images/profile_pic.jpg');
	width: 100px;
	height: 100px;
	display: inline-block;
}

/* ==========================================================================
   Contact
   ========================================================================== */
  
#contact{
	margin-top: 22em;
	text-align: center;
}
