@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);

/* ==========================================================================
   Home
   ========================================================================== */
.intro{
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	margin-top: 25em;
}
#name-intro{
	font-size: 60px;
}

.social-icons li {
	list-style-type: none;
	display: inline;
	font-size: 2em;
	padding: 0 1px 0 1px;
}

i {
}